:host {
  ion-content {
    --background: #00112b;
  }
  .red_content {
    --background: #0262f1;
  }
  .audio_content {
    --background-image: url(../../../assets/imgs/back_audio.png) no-repeat;
  }

  .header-midia {
    height: 120px;
    padding: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 100%;
  }
  .header-midia {
    text-align: center;
    color: floralwhite;
  }
}
