:host {
  ion-content {
    --ion-background-color: transparent !important;
    background: transparent !important;
  }

  .scan_container {
    margin-top: 30%;
    height: 50% !important;
    // background-color: aquamarine;
  }
  .scan_content {
    border: 10px solid #e0e0e0;
    width: 85%;
    height: 95%;
    margin: auto;
}
.message-api{
  text-align: center;
  padding: 7px 10px 5px 10px;
}
}
